*{
    margin: 0;
    padding: 0;
    

}
body {
  color: black;
  background-color: #88AB8E; 

}
.title{
     text-align: center;
     padding:30px;
     background-color:black;
     color:black;
     font-size:2rem;
     letter-spacing: 2px;
     margin: auto;

    
    

}
.pg-name{
  text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.generalizingtext,.guidedques{
  background-color: #EEE7DA;
  padding: 90px;
  
}
.header{
  text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    
}

.container{
  background-color:#F2F1EB;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 40px;
  
}
.quiz{
  text-align: center;
  margin-top: 0%;
}



.container textarea{
  height: 300px;
}
form div{
  margin-left: auto;
    margin-right: auto;
    background-color:#F2F1EB ;
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 19px;
}




.subtitle {
  color:black;
  margin-bottom: 15px;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #88AB8E;
  border-radius: 8px;
  resize: both;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.progress-bar{      
    text-align: center;
    font-size: 20px;
    font-weight: bold; 

}
.bar{
    font-size: 40px;
}
#text-submit,.btn-back,.Analyze-btn,.btn-next,#form-submit{
    background-color: #88AB8E;
    color: white;
    padding: 7px;
    font-size: 0.9rem;
    border-radius: 40%;
    cursor: pointer;

}
.btn-back,.Analyze-btn,.btn-next{
    border-radius: 8px;
}
#text-submit:hover,.btn-back:hover,.Analyze-btn:hover,.btn-next:hover,#form-submit:hover{
    background-color: #AFC8AD;
    color: black;
}
.btn{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.options{
  display: flex;
  justify-content:center;
  gap: 100px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  margin-top: auto;
  margin-bottom: auto;
}
.footer {
  background-color: #88AB8E;  
  color: #eee;             
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  line-height: 1.6;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer h4 {
  margin: 12px 0 8px;
  font-size: 14px;
  color: #ffcc00;  
}

.footer ul {
  list-style: none;
}